.deleteIcon{
    color: red !important;
    margin-left: 192px;
    margin-top: -20px;
}

.padding10{
    padding: 10px;
}

input{
    outline: none;
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

.cursor{
    cursor: pointer;
}